{{ ('<i class="' ~ include('@UserMedia/member/_comment_ico.html.twig', with_context = false) ~ ' mr-1"></i> <span class="badge badge-light">' ~ user_media.__countComment ~ '</span>')|label(
    'blue',
    null,
    false,
    {
        'class': 'label-sm user-media-comment-' ~ user_media.token,
        'data-toggle': 'tooltip',
        'title': 'label.count_comment'|trans({}, 'user_media'),
    }
) }}