{% extends 'default/template/template.html.twig' %}

{% block content %}
    <div class="row mr-0 ml-0">
        <div class="text-center text-md-right col-md-4 col-lg-3 mb-3 mb-md-0 pr-0 pl-0">
            {{ include('@UserMedia/media/item/_item_media.html.twig',
                {
                    'user_media': user_media,
                    'width': 600,
                    'height': 600,
                    'resize': 'ratio',
                },
                with_context = false
            ) }}
        </div>
        <div class="col-md-8 col-lg-9 pr-0 pl-0 pl-md-3">
            {% block content_manage %}{% endblock %}
        </div>
    </div>
{% endblock %}