{% extends '@UserMedia/media/_media_manage_template.html.twig' %}

{% block title %}
    <i class="{{ include('@UserMedia/media/_profile_ico.html.twig', with_context = false) }}"></i>
    {{ 'title.user.media.profile'|trans({}, 'user_media') }}
{% endblock %}

{% block content_manage %}
    <p>
        {{ ('user.media.profile')|trans({}, 'user_media') }}
    </p>
    {{ include('@UserMedia/media/_profile_content.html.twig', with_context = false) }}
{% endblock %}